  <div class="uk-section uk-section-small uk-background-primary uk-light">
      <div class="uk-container uk-container-small uk-container-center">
          {# Date #}

              <span uk-icon="calendar"></span><span class="uk-margin-small-left">{{ date | readableDate }}</span>

          <h1 class="uk-margin-remove-top">{{ title }}</h1>
      </div>
  </div>