  <div class="uk-section uk-section-small uk-background-primary uk-light">
        <div class="uk-container uk-container-small uk-container-center">
            <div class="uk-article-meta">
            <span uk-icon="calendar" ></span>{{ date | readableDate }}
            </div>
            <h1 class=" uk-margin-remove-top">{{ title }}</h1>

        </div>
    </div>